{% extends "layout.html" %}
{% block body %}
  <div class="text-right">
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}" class="btn btn-primary btn-md active" role="button">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}" class="btn btn-default btn-md active" role="button">log out</a>
    {% endif %}
  </div>
  {% if session.logged_in %}
  <form id="input-form" class="form-inline" action="{{ url_for('add_entry') }}" method="post">
    <div class="form-group">
      <label>QRcode</label>
      <input type="text" size="30" name="qr" class="form-control" placeholder="Enter QRcode here!" autofocus />
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" size="30" name="name" class="form-control" placeholder="Enter Name here!" autofocus />
    </div>
    <div class="form-group">
      <label>Language</label>
      <select class="form-control" name="lang">
        <option value="Japanese">Japanese</option>
        <option value="English">English</option>
        <option value="Chinese">Chinese</option>
      </select>
    </div>
    <div class="form-group">
      <label>From</label>
      <input type="text" size="30" name="place" class="form-control" placeholder="Enter Place where you come from here!" autofocus />
    </div>
    <div class="form-group">
      <label>Memo</label>
      <input type="text" size="30" name="memo" class="form-control" placeholder="Enter Memo here!" autofocus />
    </div>
    <div class="text-right">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
  {% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>QRcode</th>
      <th>Name</th>
      <th>Language</th>
      <th>From</th>
      <th>Memo</th>
      <th>Start time</th>
  {% if session.logged_in %}
      <th></th>
      <th></th>
  {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.qr }}</td>
    <td>{{ entry.name }}</td>
    <td>{{ entry.lang }}</td>
    <td>{{ entry.place }}</td>
    <td>{{ entry.memo|safe }}</td>
    <td>{{ entry.start }}</td>
  {% if session.logged_in %}
    <td><a href="{{ url_for('show_entry', entry_id = entry.id) }}" class="btn btn-default btn-sm active" role="button">Show</a></td>
    <td><a href="{{ url_for('edit_entry', entry_id = entry.id) }}" class="btn btn-info btn-sm active" role="button">Edit</a></td>
    <td><a onclick=kakunin({{entry.id}}) class="btn btn-warning btn-sm active" role="button">Delete</a></td>
  {% endif %}
  {% else %}
    <td>Unbelievable.</td>
    <td>No entries here</td>
    <td>so far</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  {% if session.logged_in %}
    <td></td>
    <td></td>
  {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}